<html>

<head>
  <title>WR MOTO TÁXI ITABIRA</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    #map {

      height: 300px;
      width: 100%,
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <center>
        <h1>WR MOTO TÁXI</h1>
      </center>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div id="map"></div>
      </div>
      <div class="col-sm-6 col-12">
        <form method="POST" action="../../api/adicionar"">
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome do Moto Táxi"
              name="title">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="lat" placeholder="Latitude" name="latitude">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="long" placeholder="Longitude" name="longitude">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="qtdMotos" placeholder="Quantidade de motos" name="qtdMotos">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Endereço" name="endereco">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Telefone" name="telefone">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Link para Whatsapp" name="whatsapp">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Horário de Funcionamento"
              name="funcionamento">
          </div>
          
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
        <div>
          <form method="POST" action="/lista" >
            <button type="submit" class="btn btn-primary" onclick="return confirm('Os dados não serão salvos. Tem certeza?')">Voltar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var map;

    function initMap() {
      var latitude = -19.62405502681858; // YOUR LATITUDE VALUE
      var longitude = -43.22289905342639; // YOUR LONGITUDE VALUE
      var marker = []
      var myLatLng = { lat: latitude, lng: longitude };

      map = new google.maps.Map(document.getElementById('map'), {
        center: myLatLng,
        zoom: 14,
        disableDoubleClickZoom: true, // disable the default map zoom on double click
      });
      marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: latitude + ', ' + longitude
      });
      // Update lat/long value of div when anywhere in the map is clicked    
      google.maps.event.addListener(map, 'click', function (event) {
        document.getElementById('lat').value = event.latLng.lat();
        document.getElementById('long').value = event.latLng.lng();
        marker.setMap(null);
        marker = new google.maps.Marker({
          position: event.latLng,
          map: map,
          title: event.latLng.lat() + ', ' + event.latLng.lng()
        });
      });



    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDw6gjpUmW8mZUA2u0gDO6OC33YGNoyuP4&callback=initMap"
    async defer></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>